# user api
# custom label for identifying server in clickhouse scanner log history
HOSTNAME=server_hostname
API_PORT=8000
# path to certs for https (optional)
API_CERT_FILE=/creds/api.pem
API_EMAIL_TOKEN=xxxx
API_GRPC_PORT=447
API_SWAGGER_PORT=8010

# postgres database
PG_HOST=postgres
PG_PORT=5432
PG_USER=aura
PG_PASS=somepass
PG_DB=aura
PG_MIGRATIONS_PATH=/db/pg-migrations

# clickhouse database (required)
CH_DSN=clickhouse://username:password@clickhouse:9000/aura?dial_timeout=500ms&max_execution_time=60

API_DYNAMIC_JWKS_ENDPOINT=https://app.dynamic.xyz/api/v0/sdk/0000000-0000-0000-0000-000000000/.well-known/jwks
API_DYNAMIC_API_TOKEN=dyn_Secret
API_DYNAMIC_ENVIRONMENT_ID=0000000-0000-0000-0000-000000000
API_RPC_ADDRESS=http://host.port

CONSUL_HTTP_ADDR=localhost:8500
API_IS_FRONTEND_API=false